th, td {
    text-align: left; /* Alinha o conteúdo no centro */
    vertical-align: middle; /*Alinha verticalmente ao centro*/
    padding-left: 0%;
  }

.table {
    background-color: transparent;
}
  
.selected-row {
  font-weight: bold;
}