th, td {
    text-align: left; /* Alinha o conteúdo no centro */
    vertical-align: middle; /*Alinha verticalmente ao centro*/
    padding-left: 0%;
  }

.table {
    background-color: transparent;
}
  
.selected-row {
  font-weight: bold;
}

.custom-dropdown {
  width: 200px; /* Defina o tamanho desejado para o dropdown */
  margin-bottom: 10px; /* Adicione margem inferior para espaçamento */
  z-index: 1000;
  padding-top: 40px;
}