<div class="card" [ngClass]="{ cor} ? 'card-header-' + cor : ''">
    <div class="card-header" [ngClass]="cor ? 'card-header-' + cor : ''">
        <h4 class="card-title">{{ titulo }}</h4>
        <p class="card-category">{{ categoria }}</p>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Login" type="text" (input)="loginPreenchido = verificarPreenchimentoCampo($event.target.value)" [(ngModel)]="login">
                </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Senha</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" (input)="senhaPreenchida = verificarPreenchimentoCampo($event.target.value)" [(ngModel)]="senha">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                </div>
                <div class="col-md-12 text-right">
                    <button mat-raised-button color="accent" (click)="enviarDados()" [disabled]="!loginPreenchido || !senhaPreenchida">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
