<div class="main-content">
  <div class="container-fluid">
    <app-card-integracao cor="success" titulo="Siga" categoria="Integração com a plataforma https://siga.udesc.br/" enumIntegracao="1"></app-card-integracao>
    <br>
    <app-card-integracao cor="info" titulo="Teams" categoria="Integração com a plataforma https://www.microsoft.com/pt-br/microsoft-teams/log-in" enumIntegracao="2"></app-card-integracao>
    <br>
    <app-card-integracao cor="warning" titulo="Moodle" categoria="Integração com a plataforma https://www.moodle.udesc.br/my/" enumIntegracao="3"></app-card-integracao>
  </div>
</div>
