<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Notas Siga</h4>
                        <p class="card-category"> Disciplinas do siga</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>ID</th>
                                    <th>Disciplina</th>
                                    <th>Nota</th>
                                    <th>Frequência</th>
                                    <th>Resultado</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td class="text-primary">Sistemas Interligados De Gestão</td>
                                        <td>8,8</td>
                                        <td>100.00%</td>
                                        <td >Aprovado</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="text-primary">Gestão do Conhecimento</td>
                                        <td>9,9</td>
                                        <td>88.89%</td>
                                        <td>Aprovado</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td class="text-primary">Gerência de Redes de Computadores</td>
                                        <td>9,0</td>
                                        <td>100.00%</td>
                                        <td>Aprovado</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td class="text-primary">Sistemas de Apoio à Decisão</td>
                                        <td>9,5</td>
                                        <td>94.44%</td>
                                        <td>Aprovado</td>
                                    </tr>
                                    <tr>
                                        <td>5 </td>
                                        <td class="text-primary">Sistemas de Informações Geográficas</td>
                                        <td>8,7</td>
                                        <td>100.00%</td>
                                        <td>Aprovado</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td class="text-primary">Trabalho de Conclusão de Curso I</td>
                                        <td>7,0</td>
                                        <td>100.00%</td>
                                        <td>Aprovado</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">Detalhamento Siga</h4>
                        <p class="card-category">Detalhamento de Notas do Siga </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" mat-table [dataSource]="NotasDetalhadas" >
                                <!-- ID -->
                                <ng-container matColumnDef="ID" >
                                  <th mat-header-cell *matHeaderCellDef class="text-primary"> <strong>ID</strong> </th>
                                  <td mat-cell *matCellDef="let NotasDetalhadas"> {{ NotasDetalhadas.ID }} </td>
                                </ng-container>
                              
                                <!-- Avaliação -->
                                <ng-container matColumnDef="Avaliacao">
                                  <th mat-header-cell *matHeaderCellDef class="text-primary"> <strong>Avaliação</strong> </th>
                                  <td mat-cell *matCellDef="let NotasDetalhadas"> {{ NotasDetalhadas.Avaliacao }} </td>
                                </ng-container>
                              
                                <!-- Data -->
                                <ng-container matColumnDef="Data">
                                  <th mat-header-cell *matHeaderCellDef class="text-primary"> <strong>Data</strong> </th>
                                  <td mat-cell *matCellDef="let NotasDetalhadas"> {{ NotasDetalhadas.Data | date:'dd/MM/yyyy' }} </td>
                                </ng-container>
                              
                                <!-- Conteudo -->
                                <ng-container matColumnDef="Conteudo">
                                  <th mat-header-cell *matHeaderCellDef class="text-primary"> <strong>Conteúdo</strong> </th>
                                  <td mat-cell *matCellDef="let NotasDetalhadas"> {{ NotasDetalhadas.Conteudo }} </td>
                                </ng-container>
                              
                                <!-- Nota -->
                                <ng-container matColumnDef="Nota">
                                  <th mat-header-cell *matHeaderCellDef class="text-primary"> <strong>Nota</strong> </th>
                                  <td mat-cell *matCellDef="let NotasDetalhadas"> {{ NotasDetalhadas.Nota | number:'1.2-2' }} </td>
                                </ng-container>
                              
                                <!-- Definindo as colunas -->
                                <tr mat-header-row *matHeaderRowDef="['ID', 'Avaliacao', 'Data', 'Conteudo', 'Nota']"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['ID', 'Avaliacao', 'Data', 'Conteudo', 'Nota'];"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  