<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Notas Siga</h4>
                      <p class="card-category"> Disciplinas do siga</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                  <th>ID</th>
                                  <th>Disciplina</th>
                                  <th>Nota</th>
                                  <th>Frequência</th>
                                  <th>Resultado</th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>1</td>
                                      <td class="text-primary">Sistemas Interligados De Gestão</td>
                                      <td>8,8</td>
                                      <td>100.00%</td>
                                      <td >Aprovado</td>
                                  </tr>
                                  <tr>
                                      <td>2</td>
                                      <td class="text-primary">Gestão do Conhecimento</td>
                                      <td>9,9</td>
                                      <td>88.89%</td>
                                      <td>Aprovado</td>
                                  </tr>
                                  <tr>
                                      <td>3</td>
                                      <td class="text-primary">Gerência de Redes de Computadores</td>
                                      <td>9,0</td>
                                      <td>100.00%</td>
                                      <td>Aprovado</td>
                                  </tr>
                                  <tr>
                                      <td>4</td>
                                      <td class="text-primary">Sistemas de Apoio à Decisão</td>
                                      <td>9,5</td>
                                      <td>94.44%</td>
                                      <td>Aprovado</td>
                                  </tr>
                                  <tr>
                                      <td>5 </td>
                                      <td class="text-primary">Sistemas de Informações Geográficas</td>
                                      <td>8,7</td>
                                      <td>100.00%</td>
                                      <td>Aprovado</td>
                                  </tr>
                                  <tr>
                                      <td>6</td>
                                      <td class="text-primary">Trabalho de Conclusão de Curso I</td>
                                      <td>7,0</td>
                                      <td>100.00%</td>
                                      <td>Aprovado</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0">Detalhamento Siga</h4>
                      <p class="card-category">Detalhamento de Notas do Siga </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>ID</th>
                                  <th>Avaliação</th>
                                  <th>Data</th>
                                  <th>Conteúdo</th>
                                  <th>Nota</th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>1</td>
                                      <td>Avaliação 1</td>
                                      <td>02/05/2023</td>
                                      <td>1 Introdução 1.1 Apresentação da disciplina 1.2...</td>
                                      <td>6,4</td>
                                  </tr>
                                  <tr>
                                      <td>2</td>
                                      <td>Trabalho 1</td>
                                      <td>20/06/2023</td>
                                      <td>6 Sistemas ERP - Enterprise Resources Planning ...</td>
                                      <td>10,0</td>
                                  </tr>
                                  <tr>
                                      <td>3</td>
                                      <td>Avaliação 2</td>
                                      <td>27/06/2023</td>
                                      <td>5 MRP II - Manufacturing Resources Planning 5.1...</td>
                                      <td>10,0</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
